comps/zillow
comps/mercari
comps/tfspeech
comps/iceberg
comps/carvana/carl
comps/caesars
comps/wiki
comps/eng_norm
comps/russian_norm
comps/porto
comps/pt
comps/favorita
models/tf_models/ffm
model.ckpt*
*tfevents*
*.pbtxt
*.npy
*.pb
*.p
*.pkl
*.pyc
*.tfrecords
*.csv
*.b
*.txt
*.ipynb
